/* * { 
    margin: 0;
    padding: 0;
} */

body {
    font-family: Arial, sans-serif;
    /* background-color: bisque; */
    margin: 0;
    padding: 10px;
    background: url("this is a wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}

input {
    width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

#shopping-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#shopping-list li {
    width: 300px;
    background: #fff;
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#shopping-list li.purchased p {
    text-decoration: line-through;
    color: #777;
}

#shopping-list li.purchased {
    background-color: #5c635c;
}

button {
    width: 100px;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#add-button {
    transition: transform 0.5s ease ;
}
#add-button:hover {
    transform: scale(1.05);
    background-color: #4caf50;
    color: white;
}

#clear-button {
    transition: transform 0.5s ease ;
}
#clear-button:hover {
    transform: scale(1.05);
    background-color: #f44336;
    color: white;
}

button.complete-button {
    background-color: #4caf50;
    color: white;
}

button.delete-button {
    background-color: #f44336;
    color: white;
}

.summary {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}
/* Media Queries */
@media (max-width: 682px) {
    #shopping-list {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 440px) {
    input {
        width: 100%;
        margin: 0 10px;
    }
}